Requirement already satisfied: sendgrid-django in c:\users\jayashree\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: sendgrid<4,>=3.5 in c:\users\jayashree\anaconda3\lib\site-packages (from sendgrid-django) (3.6.5)
Requirement already satisfied: python-http-client>=2.1.1 in c:\users\jayashree\anaconda3\lib\site-packages (from sendgrid<4,>=3.5->sendgrid-django) (3.3.1)
