{% load static %}
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="{% static 'css/password-reset.css' %}" rel='stylesheet' type='text/css' />
<div class="form-gap"></div>
<div class="container">
<div class='row'>
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <form method="POST" action='{% if action_url %}{{ action_url }}{% else %}{% url "login" %}{% endif %}'> {% csrf_token %}
    <!-- <h1> Shipping Address</h1> -->
    {% if next_url %}
    <input type='hidden' name='next' value='{{ next_url }}' />
    {% endif %}
    {% if address_type %}
    <input type='hidden' name='address_type' value='{{ address_type }}' />
    {% endif %}
    <!-- {{form.as_p}} -->
        Address 1:
        <input type="text" name="address_line_1" maxlength="120" id="id_address_line_1"><br><br>
        Address 2:
        <input type="text" name="address_line_2" maxlength="120" id="id_address_line_2"><br><br>
        City      :
        <input type="text" name="city" maxlength="120" required id="id_city"><br><br>
        Country:
        <input type="text" name="country" value="India" maxlength="120" required id="id_country"><br><br>
        State:
        <input type="text" name="state" maxlength="120" required id="id_state"><br><br>
        Postal code:
        <input type="text" name="postal_code" maxlength="120" required id="id_postal_code"><br><br>
    <button type="submit">Submit</button> 
</form>
</div>
</div>
</div>
</div>
</div>
</div>

