{% load static %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% include "nav.html" %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<link href="{% static 'css/contact.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'ecomjs/ecomm.js' %}" rel="stylesheet"/>
	
<div id="contact">
  
	<h1 class="section-header">CONTACT</h1>
	
	<div class="contact-wrapper">
	  
		<!---------------- 
  
		CONTACT PAGE LEFT 
	  
		-----------------> 
	  
	  <form class="form-horizontal" role="form" method="post" action="{% url 'contact' %}">{% csrf_token %}
		 
		<div class="form-group">
		  <div class="col-sm-12">
			<input type="text" class="form-control" id="name" placeholder="NAME" name="name" required value="">
		  </div>
		</div>
  
		<div class="form-group">
		  <div class="col-sm-12">
			<input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" required value="">
		  </div>
		</div>
  
		<textarea class="form-control" rows="10" id="content" required placeholder="MESSAGE" name="message"></textarea>
		
		<button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
		  <div class="button">
			<i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
		  </div>
		
		</button>
		
	  </form>
	  
		<!---------------- 
  
		CONTACT PAGE RIGHT 
	  
		-----------------> 
	  
		<div class="direct-contact-container">
  
		  <ul class="contact-list">
			<li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Velachery | Chennai 
				<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31103.091663498526!2d80.20070857155235!3d12.979113314450773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d8901c01c85%3A0x840a22a3d3e8b82b!2sCoal%20Barbecues!5e0!3m2!1sen!2sin!4v1592575346777!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
			</span></i></li>
			
			<li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">9600303564</a></span></i></li>
			
			<li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">thanigaivel122@gmail.com</a></span></i></li>
			
		  </ul>
  
		  <hr>
		  <ul class="social-media-list">
			<!-- <a href="https://www.youtube.com/">Continue to basket</a> -->
			<li><a href="https://www.gmail.com/"  class="contact-icon">
			  <i class="fa fa-google"  aria-hidden="true"></i></a>
			</li>
			<li><a href="https://twitter.com/login" target="_blank" class="contact-icon">
			  <i class="fa fa-twitter" for ="fa-twitter" aria-hidden="true"></i></a>
			</li>
			<li><a href="https://instagram.com/mm_enduro_?igshid=kl8istfiisls" target="_blank" class="contact-icon">
			  <i class="fa fa-instagram"  aria-hidden="true"></i></a>
			</li>
			<li><a href="https://www.facebook.com/" target="_blank"  class="contact-icon">
			  <i class="fa fa-facebook"  aria-hidden="true"></i></a>
			</li>
		  </ul>
		  <hr>
  
		  <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>
  
		</div>
	  
	</div>
	
</div> 

	



