{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% include 'base/js.html' %}
{% include 'base/css.html' %}
<!DOCTYPE html>
<html>
<head>
<title>Bike Shop a Ecommerce Category Flat Bootstarp Responsive Website Template| Home :: w3layouts</title>



<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Bike-shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->

<!--webfont-->

<!--js-->

		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
		</script>
<!---- start-smoth-scrolling---->


</head>
<body>
<!--banner-->

<script>  
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
<div class="banner-bg banner-bg1" >
	<!-- <div class="container"> -->
		<br/><br/>
		<nav class="navbar navbar-expand-lg navbar-dark bg-trans " >

			
	
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
	
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
		
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
					</li>
	
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="{% url 'products:products' %}" id="navbarDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Products
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{% url 'products:products' %}">Chains</a>
							<a class="dropdown-item" href="{% url 'products:products' %}">Tubes</a>
							<!-- <div class="dropdown-divider"></div> -->
							<a class="dropdown-item" href="{% url 'products:products' %}">Tires</a>
							<a class="dropdown-item" href="{% url 'products:products' %}">Disk brakes</a>
						</div>
					</li>
	
					{% if request.user.is_authenticated %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-user-circle" aria-hidden="true"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						  <a class="dropdown-item" href="#">{{request.user.full_name}} </a>
						  <a class="dropdown-item" href="{% url 'account:home' %}">Home
						  <div class="dropdown-divider"></div>
						  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
						</div>
					  </li>
					{% else %}
					<li class="nav-item {% if request.path == login_url %}active{% endif %}">
						<a class="nav-link" href="{% url 'login'%}">Login</a>
					</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'contact' %}">Contact</a>
					</li>
					<form class="form-inline my-2 my-lg-0 search-form" action="{% url 'search' %}"  method="GET" >
						<input class="form-control mr-sm-2" type="search" name="q" placeholder="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
							<i class="fa fa-search" aria-hidden="true"></i></button>
					</form>
					
					<!-- <li class="nav-item">
			 <a class="nav-link disabled" href="#">Disabled</a>
		   </li> -->
				</ul>
	
			</div>
		</nav>
<!-- </div> -->
</div>
<div>		
	 <div class="caption">
		 <div class="slider">
					   <div class="callbacks_container">
						   <ul class="rslides" id="slider">
							    <li><h1>HANDMADE BICYCLE</h1></li>
								<li><h1>SPEED BICYCLE</h1></li>	
								<li><h1>MOUINTAIN BICYCLE</h1></li>	
						  </ul>
						  <p>You <span>create</span> the <span>journey,</span> we supply the <span>parts</span></p>
						  <a class="morebtn" href="{% url 'products:products' %}">SHOP BIKES</a>
					  </div>
			</div>
	 </div>
			  
</div>

<div id="cate" class="categories">
	 <div class="container">
		 <h3>CATEGORIES</h3>
		 <div class="categorie-grids">
			 <a href="{% url 'products:products' %}"><div class="col-md-4 cate-grid grid1">
				 <h4>PARTS/ MACHINERY</h4>
				 <p>Are you ready for the 2020 Revloution ?</p>
				 <a class="store" href="{% url 'products:products' %}">GO TO STORE</a>
			 </div></a>
			 <a href="{% url 'products:products' %}"><div class="col-md-4 cate-grid grid2">
				 <h4>PREMIMUM SERIES</h4>
				 <p>Exclusive Bike Components</p>
				 <a class="store" href="{% url 'products:products' %}">GO TO STORE</a>
			 </div></a>
			 <a href="bicycles.html"><div class="col-md-4 cate-grid grid3">
				 <h4>SPOILERS </h4>
				 <p>Quality Assured for MotorBikes!</p>
				 <a class="store" href="{% url 'products:products' %}">GO TO STORE</a>
			 </div></a>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>


{% include "footer.html" %}


</body> 
</html>
