{% include "nav.html" %}
<body>
    <div class="container">
        <p><br><br>
           <center><b> MM Enduro Return Policy</b><br><br></center>


<ul>
    <li>MM Enduro provides easy return , refund and cancellation policy .</li><br>
    <li> User can return the product if the product is damaged or broken .</li><br> 
    <li>We have high secured payment gateway and refund may take upto 5-7 working days and it will credited to the customer bank account
    directly .</li><br>
    <li>User gets easy cancellation they can cancel the shipment at any time.</li><br>
    <li>Refund of the cancellation and return take 5-7 working days from the date of report
        </li><br>
        </ul>
</p>
</div>

</body>