.form-gap {
    padding-top: 70px;
}

.field-icon {
    float: right;
    margin-left: -50px;
    margin-top: -50px;
    position: relative;
    z-index: 2;
  
  }
.row{
    margin-right: -15px;
    
}