{% load static %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% include "nav.html" %}
<!DOCTYPE html>
<html>
<head>
<link href="{% static 'css/slick.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/slick_theme.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/productslider.css' %}" rel='stylesheet' type='text/css' />



<script type="text/javascript">

  $(document).ready(function() {
	if (document.documentElement.clientWidth < 640)
	{
		$('.post-wrapper1').slick({
  
		slidesToShow: 3,
		slidesToScroll: 1,
		autoplay: true,
		autoplaySpeed: 2000,
		centerPadding:'0',
		nextArrow: $('.next1'),
		prevArrow: $('.prev1'),
		dots: true,
		centerMode: true,
		focusOnSelect: true,
	});

}
	else{
		$('.post-wrapper1').slick({
  
			slidesToShow: 4,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 2000,
			centerPadding:'0',
			nextArrow: $('.next1'),
			prevArrow: $('.prev1'),
			dots: true,
			centerMode: true,
			focusOnSelect: true,
	});
}

if (document.documentElement.clientWidth < 640)
{
	$('.post-wrapper2').slick({
  	
	  slidesToShow: 3,
	  slidesToScroll: 1,
	  autoplay: true,
	  autoplaySpeed: 2000,
	  nextArrow: $('.next2'),
	  prevArrow: $('.prev2'),
		});
	
}
else{
	$('.post-wrapper2').slick({
  	
	  slidesToShow: 4,
	  slidesToScroll: 1,
	  autoplay: true,
	  autoplaySpeed: 2000,
	  nextArrow: $('.next2'),
	  prevArrow: $('.prev2'),
		});

}
if (document.documentElement.clientWidth < 640)
{
	$('.post-wrapper3').slick({
  	
	  slidesToShow: 3,
	  slidesToScroll: 1,
	  autoplay: true,
	  autoplaySpeed: 2000,
	  nextArrow: $('.next3'),
	  prevArrow: $('.prev3'),
		});
}
else{
	$('.post-wrapper3').slick({
  	
	  slidesToShow: 4,
	  slidesToScroll: 1,
	  autoplay: true,
	  autoplaySpeed: 2000,
	  nextArrow: $('.next3'),
	  prevArrow: $('.prev3'),
		});
}


  

 
  
 });
</script>
</head>
<body>
<div class="parts">
	 <div class="container-fluid">
		 <h2>BIKE-PARTS</h2>
		 <div class="bike-parts-sec">
		    <!--   <div class="bike-parts"> -->
				 <div class="top">
					 <ul>
						 <li><a href="index.html">home</a></li>
						 <li><a href="#"> / </a></li>
						 <li><a href="#">parts</a></li>
					 </ul>				 
				 </div>
				 <div class="bike-apparels">
					 <div class="parts1">
					 	<div class="page-wrapper">
							<div class="post-slider">
                               {% for product in allProds %}
                               {% if product.0.category == "parts" %}
								<h1 class="slider-title"> {{ product.0.category}}</h1>
								<i class="fa fa-chevron-left prev1"></i>
								<i class="fa fa-chevron-right next1"></i>
								<div class="post-wrapper1">
									 {% for i in product|slice:"0:" %}
									<div class="post">
										<a href=" {% url 'products:view' slug=i.slug %}"><div class="slider-sec">					 
										 <img src="{{i.image.url}}" alt=""/>
										 <div class="part-info">
											 <a href="#"><h5>{{i.title}}<span><strong>₹ {{i.price}}</strong></span></h5></a>
											 <a class="btn btn-danger" href="{% url 'products:view' slug=i.slug %}">Quick View</a>
										 </div>
									 </div></a>
											
									</div>
										 {% endfor %} 
							
								</div>
								{% endif %}

								 {% if product.0.category == "safety" %}
								<h1 class="slider-title"> {{ product.0.category}}</h1>
								<i class="fa fa-chevron-left prev2"></i>
								<i class="fa fa-chevron-right next2"></i>
								
								<div class="post-wrapper2">
									 {% for i in product|slice:"0:" %}
									<div class="post">
										<a href=" {% url 'products:view' slug=i.slug %}"><div class="slider-sec">					 
										 <img src="{{i.image.url}}" alt=""/>
										
										 <div class="part-info">
											 <a href="#"><h5>{{i.title}}<span><strong>₹ {{i.price}}</strong></span></h5></a>
											 <a class="btn btn-danger" href="{% url 'products:view' slug=i.slug %}">Quick View</a>
										 </div>
									 </div></a>
									 
									</div>
										 {% endfor %} 
										
							
								</div> 
								{% endif %}
								{% if product.0.category == "spare" %}
								<h1 class="slider-title"> {{ product.0.category}}</h1>
								<i class="fa fa-chevron-left prev3"></i>
								<i class="fa fa-chevron-right next3"></i>
								<div class="post-wrapper3">
									 {% for i in product|slice:"0:" %}
									<div class="post">
										<a href=" {% url 'products:view' slug=i.slug %}"><div class="slider-sec">					 
										 <img src="{{i.image.url}}" alt=""/>
										 <div class="part-info">
											 <a href="#"><h5>{{i.title}}<span><strong>₹ {{i.price}}</strong></span></h5></a>
											 <a class="btn btn-danger" href="{% url 'products:view' slug=i.slug %}">Quick View</a>
										 </div>
									 </div></a>
											
									</div>
										 {% endfor %} 
										 	
								</div>
								{% endif %}  
								{% endfor %}  
								
								<!-- <h1 class="slider-title"> Trending POst</h1>
								<i class="fa fa-chevron-left prev"></i>
								<i class="fa fa-chevron-right next"></i>
								<div class="post-wrapper">
									<div class="post">1</div>
									<div class="post">2</div>
									<div class="post">3</div>
									<div class="post">4</div>
									<div class="post">5</div>
								</div> -->
							</div>
						</div>	
		
						</div>
						 <div class="clearfix"></div>
					 </div>
				
		
			
			 </div>			 
			 
    </div>
</div>

<script src="https://cdnjs.cloudfare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript" src="{% static 'js/slick.js' %}"></script>
</body>
</html>